.vscode/settings.json
.devcontainer/devcontainer.json
./*.pkl
./*.npy
models/test.pkl
models/train.pkl
./models
Dockerfile
results/history.pkl
results/loss.npy
results/poses.npy
loss.npy
poses.npy
angles.npy
visualize_data.py
metadata/train.pkl
nohup.out
metadata/test.pkl
.__pyche__
./logs
./models