.vscode/settings.json
.devcontainer/devcontainer.json
./*.pkl
./*.npy
models/test.pkl
models/train.pkl
Dockerfile
results/history.pkl
results/loss.npy
results/poses.npy
loss.npy
poses.npy
angles.npy
visualize_data.py
metadata/train.pkl
metadata/test.pkl
__pycache__/helpers.cpython-36.pyc
__pycache__/dataset_loaders.cpython-36.pyc
__pycache__/geometric_operations.cpython-36.pyc
